*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*====================
Header Section
====================*/
#banner{
    background: linear-gradient(rgba(0,0,0,0.5), #5F9EA0),url(https://images.unsplash.com/photo-1590540178859-647e3b7a70bd?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTIyOTgwNTh8&ixlib=rb-4.0.3&q=85);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.titulo{
  text-align: center;
  font-size: 110px;
  padding-top: 200px;
  font-family: 'Kaushan Script';
  color: white; 
}

.texto-banner{
  text-align: center;
  font-size: 15px;
  font-style: italic;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton-banner{
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 70px;
}

.boton-banner a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 150px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    border: .5px solid #fff;
    position:relative ;
    transition: 0.5s;
}

.boton-banner a span{
    width: 0;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transition: 0.5s;
}

.boton-banner a:hover{
    background: #fff;
    color: #5F9EA0;
}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
} 
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}

/*-------------------------BODY---------------------------*/

form{
    width: 350px;
    height: 400px;
    background-color: #5F9EA0;
    padding: 20px;
    margin: 50px auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 20px 15px 10px gray;
}

form h3{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

form input{
    font-size: 16px;
    padding: 8px;
    display: flex;
    margin: 10px auto;
}

form label{
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 15px auto;
}

form button{
    width: 100px;
    margin-top: 20px;
    font-size: 15px;
    display: block;
    cursor: pointer;
}

form button:hover{
    background-color:#009688 ;
}

.titulo-body{
  text-align: center;
  font-size: 50px;
  padding: 20px;
  color: #000;
  font-style: italic;
  font-weight: 600;
}

/*----------CARACTERISTICAS-------------*/

.title-boxes{
    color:#5F9EA0 ;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    padding-left: 10px;
}

.boxes p{
        padding: 0 20px;
        text-align: initial;
}

p{
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

#informacion{
    font-size: 15px;
    font-style: italic;
}

/*----------GRID - Articulos-------------*/
.servicios-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.servicios-imagenes{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.servicios-imagenes img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.servicios-imagenes:hover .overlay{
    opacity: 1;
}
.texto-overlay{
    width: 80%;
    position: absolute;
    bottom: 40%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.servicios-imagenes:hover .texto-overlay{
    bottom: 40%;
    opacity: 1;
}

/* Media Querie Servicios */
@media screen and (max-width: 770px){
    .servicios-imagenes{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .servicios-imagenes:hover .texto-overlay{
        bottom: 25%;
    }
}

  /*====================
Turnos.html
====================*/

  /* Estilo para el contenedor del formulario */
  .form-servicio{
    background-color: #555;
  }
  /* Estilos para el select */
  #elegir-servicio {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
    font-size: 16px;
    
  }
  
  /* Estilos para el input de fecha */
  .input_date {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
    font-size: 16px;
  }
  
  /* Estilos para el textarea */
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    resize: vertical;
    margin-bottom: 15px;
  }
  
  