*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*====================
Header Section
====================*/
#banner{
    background: linear-gradient(rgba(0,0,0,0.5), #5F9EA0),url(https://images.unsplash.com/photo-1590540178859-647e3b7a70bd?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTIyOTgwNTh8&ixlib=rb-4.0.3&q=85);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.titulo{
  text-align: center;
  font-size: 110px;
  padding-top: 200px;
  font-family: 'Kaushan Script';
  color: white; 
}

.texto-banner{
  text-align: center;
  font-size: 15px;
  font-style: italic;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton-banner{
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 70px;
}

.boton-banner a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 150px;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    border: .5px solid #fff;
    position:relative ;
}

.boton-banner a span{
    width: 0;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;

}

.boton-banner a:hover{
    background: #fff;
    color: #5F9EA0;
}




#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
} 
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}

/*-------------------------BODY---------------------------*/

form{
    width: 350px;
    height: 400px;
    background-color: #5F9EA0;
    padding: 20px;
    margin: 50px auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -10px 20px 15px 10px gray;
}

form h3{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

form input{
    font-size: 16px;
    padding: 8px;
    display: flex;
    margin: 10px auto;
}

form label{
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 15px auto;
}

form button{
    width: 100px;
    margin-top: 20px;
    font-size: 15px;
    display: block;
    cursor: pointer;
}

form button:hover{
    background-color:#009688 ;
}

.titulo-body{
  text-align: center;
  font-size: 50px;
  padding: 20px;
  color: #000;
  font-style: italic;
  font-weight: 600;
}

/*----------CARACTERISTICAS-------------*/

.title-boxes{
    color:#5F9EA0 ;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    padding-left: 10px;
}

.boxes p{
        padding: 0 20px;
        text-align: initial;
}

p{
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

#informacion{
    font-size: 15px;
    font-style: italic;
}

/* Grid */
.grid-item {
    position: relative;
    display: inline-block;
  }
  .grid-item .btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .grid-item img {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    transition: all 0.5s ease-in-out;
  }
  .grid-item:hover img {
    transform: scale(1.05);
  }
  .grid-item .img-title {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    color: white;
    font-size: 16px;
    padding: 15px 0;
    text-align: center;
    opacity: 0;
    transition: height 0.3s, opacity 0.3s;
  }
  .grid-item:hover .img-title {
    height: 100%;
    color: aliceblue;
    opacity: 1;
  }

  /* Media Querie Grid Index */
  .grid-item {
    margin-bottom: 20px;
  }
  .grid-item img {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
  }
  footer .row {
    flex-direction: column;
  }

